@model CategoryViewModel

@{
    ViewData["Title"] = "Add";    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<h4 class="header">Kategori Ekle | Kategori</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Name">Kategori Adı</label>
                <input asp-for="Category.Name" type="text" class="form-control" placeholder="Kategori adını giriniz...">
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>